<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>記的帳ADMIN</title>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="app">
    <button class="pretty-button" v-on:click="logout">登出</button>

    <div v-if="loading">
      <div id="preloader">
        <div id="status">&nbsp;</div>
      </div>
    </div>

    <h1>記的帳ADMIN</h1>

    <!------------User List------------>
    <table>
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">User Type</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in recordResponseData.data" :key="item">
          <td>{{ item.username }}</td>
          <td>{{ item.userType }}</td>
          <td>{{ item.email }}</td>
          <td>
            <button class="pretty-button" v-on:click="deleteUser(item.username)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
  <script src="./js/main.js"></script>
  <script>

    new Vue({
      el: '#app',
      data() {
        return {
          loading: true,
          recordResponseData: null
        };
      },
      created() {
        this.fetchUser();
      },
      computed: {
      },
      methods: {
        async fetchUser() {
          let url = `http://localhost:8888/users`;
          const recordResponse = await fetch(url);
          const recordResult = await recordResponse.json();
          this.recordResponseData = recordResult;
          this.loading = false;
        },
        async deleteUser(username) {
          let config = {
            method: 'DELETE',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            }
          }

          const recordResponse = await fetch(`http://localhost:8888/user/${username}`, config);
          Swal.fire({
            position: "top-end",
            icon: "success",
            title: "success",
            showConfirmButton: false,
            timer: 1000
          });
          this.fetchUser();
        }
      }
    });
  </script>
</body>

</html>