<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <div id="app" class="login-container">
    <h2>Login</h2>
    <form @submit.prevent="">
      <div v-if="errorMessage" class="error-message">{{ errorMessage }}</div>
      <input type="text" v-model="username" placeholder="Username" required>
      <input type="password" v-model="password" placeholder="Password" required>
      <button type="submit" @click="login" :disabled="!isFormValid">Login</button>
      <br>
      <button type="submit" @click="signUp" :disabled="!isFormValid">Sign Up</button>
    </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        username: '003',
        password: 'password',
        errorMessage: ''
      },
      computed: {
        isFormValid() {
          return this.username && this.password;
        }
      },
      methods: {
        async login() {
          try {
            var bodyFormData = new FormData();
            bodyFormData.append('username', this.username);
            bodyFormData.append('password', this.password);
            const response = await axios.post('http://localhost:8888/api/login', bodyFormData);
            if (response.data.status == 'success') {
              this.errorMessage = '';
              // console.log(response.data)
              let authToken = response.data.data;
              console.log(authToken)
              let base64Url = authToken.split('.')[1];
              let base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
              let decodedPayload = JSON.parse(atob(base64));

              let storageToken = {
                "token" : authToken,
                "userInfo" : decodedPayload
              }
              console.log(storageToken)
              sessionStorage.setItem('authToken', JSON.stringify(storageToken));
              if(storageToken.userInfo.userType == 'ADMIN') {
                window.location.href = 'admin.html';
              } else {
                window.location.href = 'home.html';
              }
            } else {
              this.errorMessage = response.data.message || 'Invalid username or password.';
            }
          } catch (error) {
            console.log(error)
            this.errorMessage = 'An error occurred. Please try again later.';
          }
        },
        async signUp() {

          try {
            let response = await fetch('http://localhost:8888/user', {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                "username": this.username,
                "password": this.password,
                "email": "123456@gmail.com" //TODO
              })
            });

            let recordResult = await response.json();

            sessionStorage.setItem('authToken', recordResult.data);
            window.location.href = 'home.html';
          } catch (error) {
            this.errorMessage = 'An error occurred. Please try again later.';
          }
        }
      }
    });
  </script>
</body>

</html>